<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Nguyen Ha Tuan Nguyen
Nguyen Hai Nguyen
Le Ha My
Tran Duc Long
Nguyen Minh Hieu
ID: S3978072
S3978275
S3938177
S3978673
S3978107
Acknowledgement: ChatGPT, Claude, bootstrap, w3school. -->
<%- include('partials/header.ejs') %>

<main>
  <div class="container my-3 py-2">
    <h2 class="my-3 py-3">My Order</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order number</th>
          <th scope="col">Products</th>
          <th scope="col">Price</th>
          <th scope="col">Delivery Address</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% for (let i = 0; i < orders.length; i++) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= orders[i].products %></td>
          <td><%= orders[i].price.toFixed(2) %></td>
          <td><%= orders[i].address %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<%- include('partials/footer.ejs') %>